@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --flarge: 18px;
    --fmedium: 16px;
    --fsmall: 14px;
}

body {
    font-family: "Quicksand";
    margin: 0;
}

#account {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

#account-container {
    width: 300px;
}

#yard-sale-logo {
    display: none;
}

#title {
    font-size: var(--flarge);
    text-align: start;
}

#form-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.label,
.input {
    width: 300px;
    border: 0;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding: 4px;
    font-size: var(--fsmall);
}

.label {
    font-weight: bold;
}

.input {
    height: 20px;
    margin-left: 5px;
}

#edit-button {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid;
    background-color: var(--text-input-field);
    color: var(--hospital-green);
    font-family: inherit;
    font-size: var(--fmedium);
}


@media (max-width: 640px) {
    /* #yard-sale-logo {
        display: block;
        position: fixed;
        top: 20px;
        left: 40%;
        right: 40%;
    } */

    #edit-button {
        margin-top: 350px;
        border: 1px solid;
        background-color: var(--text-input-field);
        color: var(--hospital-green);
        font-family: inherit;
        font-weight: 500;
        font-size: var(--fmedium);
    }
}